---
import Button from "./Button.astro";
---

<Button variant={"primary"} className={"min-w-max text-white flex  gap-2"}>
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    width="24" 
    height="24" 
    fill="currentColor" 
    class="w-5 h-5" 
    viewBox="0 0 24 24"
  >
    <path 
      fill="currentColor" 
      d="M12 1.998C6.486 1.998 2 6.483 2 11.998c0 2.068.567 4.088 1.64 5.86L2 22l4.318-1.608A10.97 10.97 0 0 0 12 22c5.514 0 10-4.485 10-10.002 0-5.515-4.486-10-10-10zm0 18a8.941 8.941 0 0 1-4.685-1.304l-.334-.201-2.561.953.916-2.504-.214-.345A8.921 8.921 0 0 1 3 11.998c0-4.963 4.037-9 9-9 4.963 0 9 4.037 9 9.002 0 4.963-4.037 9-9 9zm5.292-6.542c-.294-.149-1.747-.863-2.019-.96-.272-.099-.47-.149-.667.149s-.764.96-.936 1.158c-.172.198-.343.223-.637.074s-1.24-.456-2.362-1.454c-.873-.777-1.462-1.736-1.635-2.035s-.018-.455.13-.604c.134-.134.294-.348.44-.522.15-.174.198-.299.298-.498.099-.198.05-.372-.025-.522s-.667-1.611-.913-2.197c-.24-.578-.487-.498-.667-.508-.174-.009-.372-.011-.57-.011s-.522.075-.796.373c-.273.298-1.044 1.02-1.044 2.487 0 1.467 1.07 2.883 1.22 3.081.149.198 2.108 3.222 5.096 4.513.712.308 1.268.493 1.702.632.714.226 1.364.194 1.878.118.573-.086 1.747-.713 1.994-1.4.247-.687.247-1.274.173-1.4s-.27-.198-.563-.347z"
    />
  </svg>
  <span class="relative z-[5] text-center">Enviar mensaje</span>
</Button>
